.profile{
	margin-left: 5%;
  height: 50px;
	text-align: left;
	color: white;
	font-size: 22px;
	font-family: Robo0o, Verdana, Tahoma, sans;
}

.petrova{
	margin-left: 60%;
	font-family: Roboto, Verdana, Tahoma, sans;
  height: 50px;
	text-align: left;
	font-size: 22px;
}
