<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title> Главная страница </title>
	</head>
	<body style="background-image: url({{ url_for('static', filename='start.jpg') }})">
		<div class="header">
				<button class="button blue" href="sign_in.html">
					<span>Войти</span>
				</button>

				<button	class="button purple" href="sign_up.html">
					<span>Зарегистрироваться</span>
				</a>
			</div>
			
			<div class="container">
				<h3> Make a Wish
			</div>
			
			<div class="footer">
				<h6> Copyright 2022 - Все права защищены
			</div>
	</body>
</html>