<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
		<title> Личный кабинет </title>
	</head>
	<body>
		<div class="container">
	      <header class="main-header header-catalog">
				<div class="navigation">
	        <form class="search-navigation" action="https://echo.htmlacademy.ru" method="post">
		        <label class="visually-hidden" for="search"> Поиск по сайту</label>
		        <input class="search-navigation-input" id="search" type="search" name="search" placeholder="Поиск по сайту">
		        <button class="search">Найти</button>
	        </form>
	        <ul class="user-navigation">
		        <li class="login">
		        	<a class="login-link profile-link" href="/Catalog"> Каталог желаний </a>
		        </li>
		        <li class="exit">
		        	<a href="/">Выйти</a>
		       	</li>
		        <li class="cart">
		        	<a class="cart-link" href="/Wish"> Забронированные желания</a>
		        </li>
	        </ul>
	      </div>
				<nav class="main-navigation">
	          	
	        </nav>
	        </header>
	       </div>

	       <main>
          <div class="container">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr> 
                <h2 class="page-title">Сидоров Иван</h2>
                <td class="leftcol"><img src="/static/img/sidorov.PNG" width="50%" height="50%"></td>
                <td valign="top"><p> Страна: Россия </p>
                  <p> Город: Москва  </p>
                  <p> Дата рождения: 31.12.2001 г. </p>
                  <p> Возраст: 22 года</p>
                  <p> Хобби: путешествие, автомобили, мотоциклы, скололазание</p>
                </td>
             </tr>
            </table>
            <ul class="breadcrumbs">
              
		        </ul>
		    </div>
		    <div class="titles-container linear-gradient">
        <div class="container linear-gradient">
          <div class="titles-wrapper">
          <section class="sort">
            <h3 class="sort-title">Список желаний:</h3>
          </section>
        </div>
        </div>
      </div>

      <div class="catalog-container linear-gradient-catalog ">
        <div class="container linear-gradient-catalog ">
          <section class="filtrs">
            <h3 class="filtrs-title">Друзья:</h3>
            <form class="filter" method="get" action="https://echo.htmlacademy.ru">
              <div class="filter-container">

              	<fieldset class="color-block">
                  <ul>
                  	<li class="filter-option">
                      <a class="login-link profile-link" href="/MyProfile"> Мой профиль </a>
                    </li>
                    <li class="filter-option">
                      <a class="login-link profile-link" href="/SidorovIvan"> Сидоров Иван </a>
                    </li>
                    <li class="filter-option">
                      <a class="login-link profile-link" href="/IvanovaLidia"> Иванова Лидия </a>
                    </li>
                    <li class="filter-option">
                      <a class="login-link profile-link" href="/PopovAnatoliy"> Попов Анатолий </a>
                    </li>
                    <li class="filter-option">
                      <a class="login-link profile-link" href="/VictorovUriy"> Викторов Юрий </a>
                    </li>
                  </ul>
                </fieldset>                
              </div>
            </form>
          </section>

          <section class="catalog-wrapper">
            <ul class="catalog-list">
              <li class="catalog-item">
                <a href="catalog-item.html">
                  <h4 class="device">Подарочный набор «Ореховый стандарт»</h4>
                </a>
                <p class="catalog-item-image">
                  <img src="/static/img/p1.png" width="360" height="380" alt="Любительская селфи-палка">
                </p>
                <span class="price">1 790 руб.</span>
                <ul class="catalog-hover">
                  <li><button class="button catalog-cart">Забронировать желание</button></li>
                </ul>
              </li>
              <li class="catalog-item">
                <a href="catalog-item.html">
                  <h4 class="device"> Магнитный антистресс LaLa </h4>
                </a>
                <p class="catalog-item-image">
                  <img src="/static/img/pr6.png" width="360" height="380" alt="Профессиональная селфи-палка">
                </p>
                <span class="price">3 479 руб.</span>
                <ul class="catalog-hover">
                   <li><button class="button catalog-cart">Забронировать желание</button></li>
                </ul>
              </li>
              <li class="catalog-item">
                <a href="catalog-item.html">
                  <h4 class="device"> Реалистичный пазл мира True World Puzzle Black </h4>
                </a>
                <p class="catalog-item-image">
                  <img src="/static/img/pr5.png" width="360" height="380" alt="Непотопляемая селфи-палка">
                </p>
                <span class="price">3 990 руб.</span>
                <ul class="catalog-hover">
                  <li><button class="button catalog-cart">Забронировать желание</button></li>
                </ul>
              </li>
              <li class="catalog-item new">
                <a href="catalog-item.html">
                  <h4 class="device"> Портативный USB-миксер Juice Cup </h4>
                </a>
                <p class="catalog-item-image">
                  <img src="/static/img/pr3.png" width="360" height="380" alt="Селфи-палка «Следуй за мной»">
                </p>
                <span class="price">750 руб.</span>
                <ul class="catalog-hover">
                  <li><button class="button catalog-cart">Забронировать желание</button></li>
                </ul>
              </li>
            </ul>

            <div class="pagination-container">
              <button class="pagination-menu">НАЗАД</button>
              <ul class="pagination-list">
                <li class="pagination-item pagination-item-current"><a>1</a></li>
                <li class="pagination-item"><a href="#">2</a></li>
                <li class="pagination-item"><a href="#">3</a></li>
              </ul>
              <button class="pagination-menu">ВПЕРЕД</button>
            </div>
          </section>
        </div>
      </div>
	       </main>
		

		<div class="footer" align="center">
			<h6> Copyright 2022 - Все права защищены
		</div>
	</body>
</html>