<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style_sign_up.css') }}">
    <title>Pегистрация</title>
  </head>
 
  <body style="background-image: url({{ url_for('static', filename='fon2.jpg') }})">	

	  <div class="header">
	  		<button class="button blue" href="sign_in.html">
						<span>Главная страница</span>
					</button>

					<button	class="button purple" href="sign_up.html">
						<span>Зарегистрироваться</span>
					</a>
	  </div>

	  <div class="container">
	  	<p><input type="text" placeholder="Имя">
			<p><input type="text" placeholder="Фамилия">
			<p><input type="text" placeholder="Дата рождения">
			<p><input type="text" placeholder="Страна">
			<p><input type="text" placeholder="Email">
			<p><input type="text" placeholder="Никнейм">
			<p><input type="password" placeholder="Пароль">
			<p><button class="button purple"> Зарегистрироваться </button>
		</div>

		<div class="footer">
			<h6> Copyright 2022 - Все права защищены
		</div>

  </body>
</html>