<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style_sign_in.css') }}">
    <title>Вход</title>
  </head>
 
  <body style="background-image: url({{ url_for('static', filename='fon.jpg') }})">
  	<div class="header">
	  		<a class="button blue" href="/">
				<span>Главная страница</span>
			</a>
	</div>

	<div class="container">
	  	<p><input type="text" placeholder="Никнейм">
		<p><input type="password" placeholder="Пароль">
		<p><a class="button blue" href="/Catalog">
				<span> Войти</span>
			</a>
	</div>

	<div class="footer">
		<h6> Copyright 2022 - Все права защищены
	</div>

  </body>
</html>