<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style_sign_up.css') }}">
    <title>Pегистрация</title>
  </head>
 
  <body style="background-image: url({{ url_for('static', filename='fon2.jpg') }})">
	  <div class="header">
	  		<a class="button blue" href="/">
						<span>Главная страница</span>
			</a>
	  </div>

	  <div class="container">
		  <form action="" method="POST">
	  		<p><input type="text" name="firstname" class="form-control" value="{{ request.form['firstname'] }}" id="firstname" placeholder="Имя" ></p>
			<p><input type="text" name="secondname" class="form-control" value="{{ request.form['secondname'] }}" id="secondname" placeholder="Фамилия"></p>
			<p><input type="text" id="data" placeholder="Дата рождения"></p>
		    <p><input type="text" placeholder="Страна"></p>
			<p><input type="text" placeholder="Email"></p>
			<p><input type="text" placeholder="Никнейм"></p>
			<p><input type="password" placeholder="Пароль"></p>
		    <p><input type="submit" class="button blue" value="Зарегистрироваться"></p>
		  </form>
		</div>

		<div class="footer">
			<h6> Copyright 2022 - Все права защищены
		</div>

  </body>
</html>